body {
    color: #343434;
    background-color: #eeeeee;
}

h1 {
    color: #1a556e;
}

strong {
    color: #f2275d;
}

p, img, form, table {
    margin-left: 1em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 10pt;
    counter-reset: rowCount;
}
table td,th {
    height: 1.25em;
    border: solid 1px #FF8B85;
    width: auto !important;
}

table th {
    background-color: #FFF89C;
    color: #343434;
    letter-spacing: .125em;
}
table td {
    color: #787878;
    padding: .25em;
}
table > tbody > tr {
    counter-increment: rowCount;
}
table tr:hover {
    background-color: #7FB2B3;
}

img {
    border: 2px solid #FF8B85;
    border-radius: 6px;
}

input {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    border-radius: 6px;
}

textarea {
    border-radius: 6px;
    padding: .5em;
    border: 2px solid #FF8B85;
    white-space: pre;
}

code {
    background: #fff;
}
