@import url("https://cdn.jsdelivr.net/npm/yakuhanjp@4.1.1/dist/css/yakuhanjp_s.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

.sheet {
  /* https://stackoverflow.com/questions/13605179/firefox-print-top-alignment-is-not-good-in-2nd-page */
  margin-top: 1px;
}

table.print {
  font-family: YakuHanJPs, "Noto Sans JP", "MS Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  top: 22mm;
  left: 7mm;
  width: 196mm;
  height: 266mm;
  border-collapse: collapse;
  display: block;
}

table.print p {
  margin: 0;
}

table.print td {
  border-collapse: collapse;
  position: relative;
  width: 100mm;
  height: 45mm;
  white-space: pre-wrap;
}

table.print td.mark::after {
  content: "\25e2";
  font-size: 3mm;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #e0e0e0;
}

p.zipcode {
  position: absolute;
  font-size: 14pt;
  top: 5mm;
  left: 5mm;
}

.container {
  position: absolute;
  width: 90mm;
  height: 25mm;
  font-size: 12pt;
  top: 12mm;
  left: 5mm;
  word-break: break-all;
}

.addressBlock {
  line-height: 1.25;
}

.place:empty {
  display: none;
}

.phone {
  font-size: 9pt;
}

.nameBlock {
  position: absolute;
  bottom: 2mm;
  left: 0;
}

.nameBlock .name {
  font-size: 18pt;
  line-height: 1.1;
}

.nameBlock .honorific {
  font-size: 14pt;
  margin-left: 0.5em;
}
