<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <title>print-page</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text x=%2250%%22 y=%2250%%22 style=%22dominant-baseline:central;text-anchor:middle;font-size:90px;%22>&#x2714;</text></svg>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css">
    <link rel="stylesheet" type="text/css" href="./css/print.css">
</head>
<body class="A4">
    <div id="app">
        <sheets :sheets-arr="sheetsData"></sheets>
    </div>
<script src="https://cdn.jsdelivr.net/npm/vue@3.2.37/dist/vue.global.js"></script>
<script>

function loadBaseData(){
    const src = window.opener.document.querySelector('#table1 tbody');
    return Array.from(src.rows).map(row => {
        return {
            name:      (row.cells[0].innerText.trim() || ""),
            honorific: (row.cells[1].innerText.trim() || ""),
            place:     (row.cells[2].innerText.trim() || ""),
            zipcode:   (row.cells[3].innerText.trim() || ""),
            address:   (row.cells[4].innerText.trim() || ""),
            phone:     (row.cells[5].innerText.trim() || ""),
        }
    });
}

class Allocator {
    constructor(basedata) {
        this.nRow = 6;
        this.nCol = 2;
        this.labelLimit = this.nRow * this.nCol;
        this.basedata = basedata;
        this.labels = this.basedata.map((d, i) => ({
            inner: d,
            className: (i == this.basedata.length - 1)? "mark" : "unmark"
        }));
        this.fillRest();
    }

    fillRest(){
        const exceed = this.basedata.length % this.labelLimit;
        if (exceed < 1) {
            return;
        }
        const rest = this.labelLimit - this.basedata.length % this.labelLimit;
        const unit = this.basedata.length;
        for (let i = 0; i < rest; i++) {
            this.labels.push({
                inner: this.basedata[i%unit],
                className: (i % unit == unit - 1)? "mark" : "unmark"
            });
        }
    }

    allocate() {
        const trs = [];
        let cellStack = [];
        for (let i = 0; i < this.labels.length; i++) {
            const label = this.labels[i];
            cellStack.push(label)
            if (cellStack.length == this.nCol || i == this.labels.length - 1) {
                trs.push({cells: cellStack});
                cellStack = [];
            }
        }
        const sheets = [];
        let rowStack = [];
        for (let i = 0; i < trs.length; i++) {
            const tr = trs[i];
            rowStack.push(tr)
            if (rowStack.length == this.nRow || i == trs.length - 1) {
                sheets.push({rows: rowStack});
                rowStack = [];
            }
        }
        return sheets;
    }
}

const labelCell = {
    props: ["label"],
    template: `
    <p class="zipcode">〒{{label.zipcode}}</p>
    <div class="container">
        <div class="addressBlock">
            <p class="address">{{label.address}}</p>
            <p class="place">{{label.place}}</p>
            <p class="phone" v-if="label.phone.length">Tel: {{label.phone}}</p>
        </div>
        <div class="nameBlock">
            <p class="name">{{label.name}}<span class="honorific">{{label.honorific}}</span></p>
        </div>
    </div>
    `
}

const labelRow = {
    props: ["cells"],
    components: {
        "label-cell": labelCell
    },
    template: `
    <tr>
        <td v-for="(cell, idx) in cells" :key="idx" :class="cell.className">
            <label-cell :label="cell.inner"></label-cell>
        </td>
    </tr>
    `
}

const labelSheet = {
    props: ["rows"],
    components: {
        "label-row": labelRow
    },
    template: `
    <section class="sheet">
        <table class="print">
            <tbody contenteditable="true">
                <label-row v-for="(r, idx) in rows" :key="idx" :cells="r.cells"></label-row>
            </tbody>
        </table>
    </section>
    `
}

const sheets = {
    props: ["sheets-arr"],
    components: {
        "label-sheet": labelSheet
    },
    template: `
    <div v-for="(sht, idx) in sheetsArr" :key="idx">
        <label-sheet :rows="sht.rows"></label-sheet>
    </div>
    `
}

const vm = Vue.createApp({
    data: function() {
        return {
            basedata: loadBaseData(),
        }
    },
    computed: {
        sheetsData: function(){
            const alloc = new Allocator(this.basedata);
            return alloc.allocate();
        }
    },
    components: {
        "sheets": sheets
    }
}).mount("#app");


</script>
</body>
</html>